In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [64]:
df.shape

(10000, 14)

In [65]:
df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [66]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [67]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['Geography']=encoder.fit_transform(df['Geography'])
df['Gender']=encoder.fit_transform(df['Gender'])

In [68]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [69]:
df=pd.get_dummies(df,columns=['Geography'],drop_first=True)

In [70]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [71]:
y=df.loc[:,'Exited'].values
y

array([1, 0, 1, ..., 1, 1, 0])

In [72]:
x=df.drop(columns=['Exited'],axis=1).values

In [73]:
x

array([[6.1900000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.0134888e+05,
        0.0000000e+00, 0.0000000e+00],
       [6.0800000e+02, 0.0000000e+00, 4.1000000e+01, ..., 1.1254258e+05,
        0.0000000e+00, 1.0000000e+00],
       [5.0200000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.1393157e+05,
        0.0000000e+00, 0.0000000e+00],
       ...,
       [7.0900000e+02, 0.0000000e+00, 3.6000000e+01, ..., 4.2085580e+04,
        0.0000000e+00, 0.0000000e+00],
       [7.7200000e+02, 1.0000000e+00, 4.2000000e+01, ..., 9.2888520e+04,
        1.0000000e+00, 0.0000000e+00],
       [7.9200000e+02, 0.0000000e+00, 2.8000000e+01, ..., 3.8190780e+04,
        0.0000000e+00, 0.0000000e+00]])

In [74]:
from sklearn.preprocessing import StandardScaler

In [75]:
scaler=StandardScaler()

In [76]:
x=scaler.fit_transform(x)

In [77]:
x

array([[-0.32622142, -1.09598752,  0.29351742, ...,  0.02188649,
        -0.57873591, -0.57380915],
       [-0.44003595, -1.09598752,  0.19816383, ...,  0.21653375,
        -0.57873591,  1.74273971],
       [-1.53679418, -1.09598752,  0.29351742, ...,  0.2406869 ,
        -0.57873591, -0.57380915],
       ...,
       [ 0.60498839, -1.09598752, -0.27860412, ..., -1.00864308,
        -0.57873591, -0.57380915],
       [ 1.25683526,  0.91241915,  0.29351742, ..., -0.12523071,
         1.72790383, -0.57380915],
       [ 1.46377078, -1.09598752, -1.04143285, ..., -1.07636976,
        -0.57873591, -0.57380915]])

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [80]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [81]:
model=Sequential()

In [82]:
model.add(Dense(11,activation='relu',input_dim=x_train.shape[1]))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [83]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [84]:
his=model.fit(x_train,y_train,batch_size=50,epochs=100,verbose=1,validation_split=0.20)

Epoch 1/100
128/128 [==============================] - 1s 3ms/step - loss: 0.7805 - accuracy: 0.5022 - val_loss: 0.5686 - val_accuracy: 0.7663
Epoch 2/100
128/128 [==============================] - 0s 2ms/step - loss: 0.5280 - accuracy: 0.7902 - val_loss: 0.4879 - val_accuracy: 0.8025
Epoch 3/100
128/128 [==============================] - 0s 2ms/step - loss: 0.4725 - accuracy: 0.8048 - val_loss: 0.4496 - val_accuracy: 0.8106
Epoch 4/100
128/128 [==============================] - 0s 2ms/step - loss: 0.4412 - accuracy: 0.8139 - val_loss: 0.4311 - val_accuracy: 0.8156
Epoch 5/100
128/128 [==============================] - 0s 2ms/step - loss: 0.4248 - accuracy: 0.8175 - val_loss: 0.4209 - val_accuracy: 0.8188
Epoch 6/100
128/128 [==============================] - 0s 2ms/step - loss: 0.4133 - accuracy: 0.8230 - val_loss: 0.4125 - val_accuracy: 0.8225
Epoch 7/100
128/128 [==============================] - 0s 3ms/step - loss: 0.4032 - accuracy: 0.8275 - val_loss: 0.4033 - val_accuracy: 0.8263
Epoch 8/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3935 - accuracy: 0.8369 - val_loss: 0.3941 - val_accuracy: 0.8338
Epoch 9/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8414 - val_loss: 0.3865 - val_accuracy: 0.8369
Epoch 10/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3755 - accuracy: 0.8447 - val_loss: 0.3796 - val_accuracy: 0.8425
Epoch 11/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8475 - val_loss: 0.3739 - val_accuracy: 0.8444
Epoch 12/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3628 - accuracy: 0.8495 - val_loss: 0.3687 - val_accuracy: 0.8487
Epoch 13/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3577 - accuracy: 0.8522 - val_loss: 0.3654 - val_accuracy: 0.8494
Epoch 14/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3538 - accuracy: 0.8534 - val_loss: 0.3628 - val_accuracy: 0.8500
Epoch 15/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3505 - accuracy: 0.8583 - val_loss: 0.3600 - val_accuracy: 0.8581
Epoch 16/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8572 - val_loss: 0.3584 - val_accuracy: 0.8581
Epoch 17/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8589 - val_loss: 0.3580 - val_accuracy: 0.8556
Epoch 18/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8583 - val_loss: 0.3565 - val_accuracy: 0.8575
Epoch 19/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8580 - val_loss: 0.3557 - val_accuracy: 0.8569
Epoch 20/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8592 - val_loss: 0.3555 - val_accuracy: 0.8569
Epoch 21/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8577 - val_loss: 0.3554 - val_accuracy: 0.8619
Epoch 22/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8603 - val_loss: 0.3551 - val_accuracy: 0.8600
Epoch 23/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8612 - val_loss: 0.3552 - val_accuracy: 0.8581
Epoch 24/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8606 - val_loss: 0.3554 - val_accuracy: 0.8575
Epoch 25/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8617 - val_loss: 0.3551 - val_accuracy: 0.8575
Epoch 26/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8612 - val_loss: 0.3553 - val_accuracy: 0.8594
Epoch 27/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8608 - val_loss: 0.3556 - val_accuracy: 0.8575
Epoch 28/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8598 - val_loss: 0.3554 - val_accuracy: 0.8562
Epoch 29/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8619 - val_loss: 0.3559 - val_accuracy: 0.8594
Epoch 30/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8605 - val_loss: 0.3556 - val_accuracy: 0.8594
Epoch 31/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8623 - val_loss: 0.3559 - val_accuracy: 0.8581
Epoch 32/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8636 - val_loss: 0.3556 - val_accuracy: 0.8606
Epoch 33/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8633 - val_loss: 0.3552 - val_accuracy: 0.8569
Epoch 34/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8625 - val_loss: 0.3550 - val_accuracy: 0.8575
Epoch 35/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8630 - val_loss: 0.3550 - val_accuracy: 0.8569
Epoch 36/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8637 - val_loss: 0.3554 - val_accuracy: 0.8544
Epoch 37/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8631 - val_loss: 0.3547 - val_accuracy: 0.8587
Epoch 38/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8625 - val_loss: 0.3538 - val_accuracy: 0.8606
Epoch 39/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8636 - val_loss: 0.3539 - val_accuracy: 0.8562
Epoch 40/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8645 - val_loss: 0.3535 - val_accuracy: 0.8575
Epoch 41/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8630 - val_loss: 0.3531 - val_accuracy: 0.8581
Epoch 42/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8652 - val_loss: 0.3528 - val_accuracy: 0.8587
Epoch 43/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8648 - val_loss: 0.3539 - val_accuracy: 0.8556
Epoch 44/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8647 - val_loss: 0.3527 - val_accuracy: 0.8600
Epoch 45/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8653 - val_loss: 0.3531 - val_accuracy: 0.8594
Epoch 46/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8641 - val_loss: 0.3523 - val_accuracy: 0.8562
Epoch 47/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.8637 - val_loss: 0.3525 - val_accuracy: 0.8600
Epoch 48/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8656 - val_loss: 0.3517 - val_accuracy: 0.8594
Epoch 49/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3280 - accuracy: 0.8659 - val_loss: 0.3523 - val_accuracy: 0.8594
Epoch 50/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3274 - accuracy: 0.8642 - val_loss: 0.3514 - val_accuracy: 0.8587
Epoch 51/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8644 - val_loss: 0.3515 - val_accuracy: 0.8581
Epoch 52/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3274 - accuracy: 0.8666 - val_loss: 0.3516 - val_accuracy: 0.8575
Epoch 53/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3262 - accuracy: 0.8653 - val_loss: 0.3517 - val_accuracy: 0.8575
Epoch 54/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8645 - val_loss: 0.3527 - val_accuracy: 0.8556
Epoch 55/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3256 - accuracy: 0.8648 - val_loss: 0.3531 - val_accuracy: 0.8550
Epoch 56/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8650 - val_loss: 0.3513 - val_accuracy: 0.8575
Epoch 57/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3252 - accuracy: 0.8667 - val_loss: 0.3517 - val_accuracy: 0.8569
Epoch 58/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3255 - accuracy: 0.8659 - val_loss: 0.3514 - val_accuracy: 0.8575
Epoch 59/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8652 - val_loss: 0.3519 - val_accuracy: 0.8562
Epoch 60/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8661 - val_loss: 0.3513 - val_accuracy: 0.8581
Epoch 61/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3241 - accuracy: 0.8661 - val_loss: 0.3514 - val_accuracy: 0.8575
Epoch 62/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3244 - accuracy: 0.8656 - val_loss: 0.3522 - val_accuracy: 0.8550
Epoch 63/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8652 - val_loss: 0.3515 - val_accuracy: 0.8556
Epoch 64/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3239 - accuracy: 0.8667 - val_loss: 0.3520 - val_accuracy: 0.8537
Epoch 65/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3233 - accuracy: 0.8659 - val_loss: 0.3524 - val_accuracy: 0.8575
Epoch 66/100
128/128 [==============================] - 0s 3ms/step - loss: 0.3232 - accuracy: 0.8656 - val_loss: 0.3521 - val_accuracy: 0.8537
Epoch 67/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3230 - accuracy: 0.8659 - val_loss: 0.3514 - val_accuracy: 0.8581
Epoch 68/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3233 - accuracy: 0.8658 - val_loss: 0.3523 - val_accuracy: 0.8562
Epoch 69/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3223 - accuracy: 0.8678 - val_loss: 0.3512 - val_accuracy: 0.8594
Epoch 70/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3231 - accuracy: 0.8681 - val_loss: 0.3514 - val_accuracy: 0.8562
Epoch 71/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8656 - val_loss: 0.3529 - val_accuracy: 0.8600
Epoch 72/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3226 - accuracy: 0.8664 - val_loss: 0.3507 - val_accuracy: 0.8587
Epoch 73/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3220 - accuracy: 0.8659 - val_loss: 0.3509 - val_accuracy: 0.8581
Epoch 74/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3217 - accuracy: 0.8666 - val_loss: 0.3512 - val_accuracy: 0.8587
Epoch 75/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3217 - accuracy: 0.8670 - val_loss: 0.3512 - val_accuracy: 0.8581
Epoch 76/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3212 - accuracy: 0.8661 - val_loss: 0.3518 - val_accuracy: 0.8556
Epoch 77/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3215 - accuracy: 0.8675 - val_loss: 0.3505 - val_accuracy: 0.8594
Epoch 78/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3211 - accuracy: 0.8683 - val_loss: 0.3511 - val_accuracy: 0.8581
Epoch 79/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3213 - accuracy: 0.8680 - val_loss: 0.3503 - val_accuracy: 0.8594
Epoch 80/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3206 - accuracy: 0.8683 - val_loss: 0.3503 - val_accuracy: 0.8600
Epoch 81/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3208 - accuracy: 0.8680 - val_loss: 0.3508 - val_accuracy: 0.8581
Epoch 82/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8677 - val_loss: 0.3501 - val_accuracy: 0.8600
Epoch 83/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3204 - accuracy: 0.8673 - val_loss: 0.3510 - val_accuracy: 0.8594
Epoch 84/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8677 - val_loss: 0.3502 - val_accuracy: 0.8581
Epoch 85/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3199 - accuracy: 0.8662 - val_loss: 0.3500 - val_accuracy: 0.8600
Epoch 86/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3198 - accuracy: 0.8695 - val_loss: 0.3500 - val_accuracy: 0.8594
Epoch 87/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3203 - accuracy: 0.8678 - val_loss: 0.3501 - val_accuracy: 0.8594
Epoch 88/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3200 - accuracy: 0.8694 - val_loss: 0.3497 - val_accuracy: 0.8587
Epoch 89/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3196 - accuracy: 0.8698 - val_loss: 0.3496 - val_accuracy: 0.8612
Epoch 90/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3193 - accuracy: 0.8695 - val_loss: 0.3519 - val_accuracy: 0.8600
Epoch 91/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3197 - accuracy: 0.8689 - val_loss: 0.3499 - val_accuracy: 0.8587
Epoch 92/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3194 - accuracy: 0.8686 - val_loss: 0.3496 - val_accuracy: 0.8594
Epoch 93/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3190 - accuracy: 0.8684 - val_loss: 0.3512 - val_accuracy: 0.8594
Epoch 94/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3197 - accuracy: 0.8664 - val_loss: 0.3502 - val_accuracy: 0.8600
Epoch 95/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3191 - accuracy: 0.8677 - val_loss: 0.3493 - val_accuracy: 0.8587
Epoch 96/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3184 - accuracy: 0.8694 - val_loss: 0.3494 - val_accuracy: 0.8587
Epoch 97/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3183 - accuracy: 0.8686 - val_loss: 0.3499 - val_accuracy: 0.8637
Epoch 98/100
128/128 [==============================] - 0s 3ms/step - loss: 0.3185 - accuracy: 0.8656 - val_loss: 0.3492 - val_accuracy: 0.8581
Epoch 99/100
128/128 [==============================] - 0s 3ms/step - loss: 0.3177 - accuracy: 0.8725 - val_loss: 0.3502 - val_accuracy: 0.8581
Epoch 100/100
128/128 [==============================] - 0s 2ms/step - loss: 0.3178 - accuracy: 0.8698 - val_loss: 0.3503 - val_accuracy: 0.8581

In [85]:
y_pred=model.predict(x_test)

63/63 [==============================] - 0s 883us/step

In [87]:
from sklearn.metrics import accuracy_score

In [91]:
acc=accuracy_score(y_test,y_pred)

In [92]:
acc

0.86

In [102]:
from sklearn.metrics import confusion_matrix,classification_report

In [103]:
cm=confusion_matrix(y_test,y_pred)

In [104]:
cm

array([[1529,   66],
       [ 214,  191]])

In [106]:
cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1595
           1       0.74      0.47      0.58       405

    accuracy                           0.86      2000
   macro avg       0.81      0.72      0.75      2000
weighted avg       0.85      0.86      0.85      2000